.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #f5f5f5;
    font-size: 14px;
  }
  
  .promo {
    color: #FC8A06;

    font-weight: bold;
  }
  
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .change {
    color: orange;
    cursor: pointer;
  }
  
  .cart {
    background: #22c55e;
    border: white;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
  }
  
  .logo span {
    background: orange;
    color: black;
    padding: 2px 5px;
    margin-left: 5px;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  
  .navLinks li {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 20px;
  }
  
  .active {
    background: #FC8A06;
    color: white;
  }
  
  .login {
    background: #0a0f2c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
  }
  .navLinks {
    display: flex;
    gap: 20px;
  }
  
  /* 🔥 LINKNI BUTTONGA O‘XSHATAMIZ */
  .link {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    color: black;
    transition: 0.3s;
    font-weight: 500;
  }
  
  /* 🔥 HOVER */
  .link:hover {
    background: orange;
    color: white;
  }
  
  /* 🔥 ACTIVE (qaysi page ochiq bo‘lsa) */
  .active {
    background: orange;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
  }